Flask==3.0.3
python-dotenv==1.0.0
werkzeug>=3.0.0
pycountry
langchain
langchain-google-genai
google-generativeai
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
pypdf
unstructured
chromadb
MarkupSafe
Jinja2
itsdangerous
gunicorn
langchain-chroma
markdown
pytest
