python-dotenv
werkzeug
pycountry
langchain
langchain-google-genai
google-generativeai
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
pypdf
unstructured
chromadb
MarkupSafe
Jinja2
itsdangerous
gunicorn
vercel
langchain-chroma
markdown
pytest
pytesseract
PyMuPDF
opencv-python
transformers
pillow
google-cloud-vision
networkx
pyvis
faiss-cpu
